[Unit]
Description=Planter PECD Python Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=komelt
ExecStart=python /home/komelt/PECD/PECD2024-MP-1/app/main.py

[Install]
WantedBy=multi-user.target